.products {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
}
.menu-title{ 
    font-weight: 700;
    line-height: 52px;
    font-size: 40px;
    color: #B49069;
    margin-bottom: 20px;
}
.name-category{
    width: 120px;
    height: 44px;
    border-radius: 100px;
    background-color: #B49069;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-of-category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.list-of-category-2{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.list-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.product-item{
    position: relative;
    min-width: 197px;
    height: 170px;
    border-radius: 20px;
    background: linear-gradient(180deg, #FFFFFF 0%, #ECE3DA 100%);
}
.product-item img{
    position: absolute;
    width: 193px;
    height: 120px;
    top: -30px;
    object-fit: contain;
    z-index: 100;
}
.product-item p{
    position: absolute;
    width: 100%;
    white-space: nowrap;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    padding: 0px !important;
    color: #1D2939;
}